<body>
  <h1>MarketMe</h1>
  <a class="btn" id="search-again" href="/">Reprocess</a>

  <div class="tone-section">
    <h2>General Tones</h2>
    <div>
      <h3>Analytical</h3>
      <h3>Confident</h3>
      <h3>Technical</h3>
    </div>
    <div>
      <h3>Anger</h3>
      <h3>Fear</h3>
      <h3>Joy</h3>
      <h3>Sadness</h3>
    </div>
  </div>

  <div class="keyword-section">
    <h2>Top Keywords</h2>
    <div>
      <div>
        <h3>One</h3>
        <h3>Two</h3>
        <h3>Three</h3>
      </div>
      <div>
        <h3>100%</h3>
        <h3>100%</h3>
        <h3>100%</h3>
      </div>
    </div>
  </div>

  <div class="post-section">
    <h2>Top Posts</h2>
  </div>
</body>